amqp==5.2.0
attrs==23.2.0
bcrypt==4.1.3
billiard==4.2.0
blinker==1.8.2
celery==5.4.0
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
constantly==23.10.4
contourpy==1.2.1
cryptography==42.0.7
cssselect==1.2.0
cycler==0.12.1
defusedxml==0.7.1
dnspython==2.6.1
email-validator==1.1.2
filelock==3.15.3
Flask==3.0.3
Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
flask-paginate==2024.4.12
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
fonttools==4.53.0
hyperlink==21.0.0
idna==3.7
incremental==22.10.0
isbnlib==3.10.3
iso3166==1.0.1
itemadapter==0.9.0
itsdangerous==2.2.0
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
kiwisolver==1.4.5
kombu==5.3.7
lxml==5.2.2
MarkupSafe==2.1.5
matplotlib==3.9.1
mysql-connector-python==8.4.0
nltk==3.8.1
numpy==2.0.0
packaging==24.1
parsel==1.9.1
pillow==10.3.0
prompt_toolkit==3.0.47
Protego==0.3.1
py-moneyed==0.8.0
py-mysql==1.0
py4j==0.10.9.7
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycountry==24.6.1
pycparser==2.22
PyDispatcher==2.0.7
PyMySQL==1.1.1
pyparsing==3.1.2
pypng==0.20220715.0
pyspark==3.5.0
python-dateutil==2.9.0.post0
pytz==2020.1
qrcode==7.4.2
queuelib==1.7.0
regex==2024.5.15
requests==2.32.3
schwifty==2020.9.0
setuptools==71.0.3
six==1.16.0
soupsieve==2.5
SQLAlchemy==2.0.31
tqdm==4.66.4
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
vine==5.1.0
w3lib==2.2.1
wcwidth==0.2.13
Werkzeug==3.0.3
wordcloud==1.9.3
WTForms==3.1.2
zope.interface==6.4.post2
