amqp==5.2.0
bcrypt==4.3.0
beautifulsoup4==4.12.3
billiard==4.2.0
blinker==1.8.2
celery==5.4.0
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
contourpy==1.2.1
cryptography==42.0.8
cycler==0.12.1
Flask==3.0.3
Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
flask-paginate==2024.4.12
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
fonttools==4.53.1
greenlet==3.0.3
gunicorn==26.0.0
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
kiwisolver==1.4.5
kombu==5.3.7
MarkupSafe==2.1.5
matplotlib==3.9.1
nltk==3.8.1
numpy==2.0.0
packaging==24.1
pillow==10.4.0
prompt_toolkit==3.0.47
pycparser==2.22
PyMySQL==1.1.1
pyparsing==3.1.2
python-dateutil==2.9.0.post0
regex==2024.5.15
requests==2.32.3
six==1.16.0
soupsieve==2.5
SQLAlchemy==2.0.31
tqdm==4.66.4
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
vine==5.1.0
wcwidth==0.2.13
Werkzeug==3.0.3
wordcloud==1.9.3
WTForms==3.1.2
